* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    background-image: url('photo-fondo.png');
    color: #000000;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 200px;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 20px rgba(9, 0, 0, 0.1);
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

header {
    background-color: #565a5e;
    color: #fff;
    padding-bottom: 0px;
    border-radius: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.logo {
    height: 100px;
    margin-right: 20px;
}

.school-name {
    font-size: 2.0em;
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    margin: 10px;
}

nav {
    background-color: #ed1919;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 12px 0;
}

.nav-list li {
    margin: 0 10px;
    position: relative;
}

.nav-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background-color: #fff;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    transition: background-color 0.3s, opacity 0.3s;
    display: block;
    border-radius: 3px;
}

.nav-list a:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #ed1919;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ed1919;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ol{
    margin: 0;
    border-bottom: 1px solid #fff;
}

.dropdown-content ol a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content ol a:hover {
    background-color: rgb(255, 255, 255);
    color: #ed1919;
    border-radius: 0px;
}

.welcome-section {
    background-image: url('sede2.png'); /* Reemplaza 'path/to/your/image.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff; /* Cambia el color del texto si es necesario para asegurar legibilidad */
    padding: 250px 20px; /* Ajusta el relleno según sea necesario */
    text-align: center;
}

.welcome-content {
    max-width: 850px;
    margin: 0 auto;
}

section {
    margin-bottom: 5px;
}

.no-se {
    font-size: 2.2em;
    margin-top: 20px;
    color: #003366;
    text-align: center;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.nav-list .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ed1919;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-list .dropdown:hover .dropdown-content {
    display: block;
}

.nav-list .dropdown-content ol {
    margin: 0;
}

.nav-list .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-list .dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #ed1919;
}

main {
    padding: 0;
    border-radius: 10px;
    background-color: aliceblue;
    background-size: cover;
}

.footer {
    background-color: #565a5e;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    margin: 0 100px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(9, 0, 0, 0.1);
    margin-top: 2%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column.left {
    text-align: left;
}

.footer-column.right {
    text-align: right;
}

.separator {
    margin: 20px 0;
    border-top: 1px solid #ffffff;
}

.separator-dos {
    margin: 20px 0;
    border-top: 1px solid #000000;
    margin-right: 20px;
    margin-left: 20px;
}

.separator-tres {
    margin: 20px 0;
    border-top: 1px solid #000000;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.no-copiable {
    user-select: none; /* CSS estándar */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.column {
    flex: 1;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-column img {
    width: 40%;
    height: auto;
    display: block;
}

.text-column p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.social-column p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px; /* Añadido para separación entre el párrafo y las imágenes */
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Ajusta este valor según la separación deseada */
    width: 100%;
}

.espacio{
    padding-top: 10x;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 45px; /* Ajusta este valor según tus necesidades */
    height: auto;
    display: block;
}

.column-image:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% en el hover */
}


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.info a {
    color: #000000;
    text-decoration: none;
}

.info a:hover {
    color: #0056b3; /* Color al pasar el ratón */
    text-decoration: underline; /* Añadir subrayado al pasar el ratón */
}

.info {
    padding: 15px;
    position: relative;
    border-radius: 10px; /* Opcional: para bordes redondeados */
    background-color: #d3e5f8;
    flex-direction: column;
  }
  
  .information {
    display: flex;
    color: #000000;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.1em;
  }
  
  .icon-new {
    width: 30px;
    margin-right: 0.3rem;
  }

/* Media queries para dispositivos móviles */
@media (max-width: 1200px) {
    .information {
        display: flex;
        font-size: 1em; /* Ajuste de tamaño de fuente */
        justify-content: left;
        align-items: center;
        height: 35px;
    }

    /* Reducir el tamaño de los íconos en pantallas pequeñas */
    .icon-new{
        width: 25px; /* Tamaño más pequeño para móviles */
        padding-bottom: 10px;
    }


    .info {
        padding-left: 15px;
        text-align: center;
        height: 160px;
    }
}

.container-sa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.column-sa {
    width: 48%; /* Aproximadamente la mitad del ancho del contenedor */
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.column-sa img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.column-sa h3 {
    margin-top: 15px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.column-sa p {
    font-size: 0.9em;
    color: #555;
    text-align: justify;
}

.column-sa a {
    text-decoration: none;
    color: inherit;
}

.iframe {
    width: 525px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid #000; /* Bordes alrededor del contenedor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para el contenedor */
}

.school-branches {
    text-align: center;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.school-branches h1 {
    font-size: 2.2em;
    padding: 20px;
    color: #003366;

}

.buttons-container {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    padding-bottom: 15px;
}

.branch-btn {
    background-color: #007BFF;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
}

.branch-btn:hover,
.branch-btn.active {
    background-color: #0359b6;
    color: #fff;
}

.branch-content {
    position: relative;
}

.branch {
    display: none;
    background-color: #FFF;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.branch.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

.branch-image {
    height: 100px;
    background-color: #bdc3c7;
    border-radius: 10px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
}

.branch h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #003366;
    text-align: left;
    padding-left: 20px;
}

.branch p {
    font-size: 1em;
    line-height: 1.6;
    color: #000000;
    text-align: left;
    padding-left: 20px;
}

.img-dos{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 15px;
    object-fit: cover;
}

.container-dos {
    display: flex;
    justify-content: space-around;
}
.column-dos {
    padding: 20px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.column-tres {
    padding: 20px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-ok{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-facebook-f{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}

.icon .fa-instagram{
    color: #000;
}
.ig:hover{
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
}

.icon .fa-youtube{
    color: #FE0000;
}
.yt:hover{
    background: #FE0000;
}

/* responsive */
@media only screen and (min-width: 500px) and (max-width: 991px) {
    .main{
        flex-direction: column;
    }
}

/* Encabezado */
@media (max-width: 1200px) {

    .section-qs {
        width: 100%; /* Ocupa el ancho completo */
        margin: 20px 0; /* Ajusta el margen */
        padding: 10px; /* Ajusta el relleno */
    }

    .container{
        margin: 0 10px;
    }

    .contenido-card{
        font-size: 1em;
    }

    .parrafo-nose{
        font-size: 1em;
    }

    h2{
        font-size: 1.3em;
    }

    .simple-news-box{
        font-size: 0.8em;
    }


}


@media (max-width: 1200px) {


    .nav-list {
        display: none;
        flex-direction: column;
        align-items: left;
        width: 100%;
        background-color: #ed1919;
    }
  
  
    .nav-list.active {
        display: flex;
    }
  
    .nav-list li {
        margin: 10px 0;
        padding-left: 10px;
        padding-right: 10px;
    }
  
    .menu-icon {
        display: flex;
        padding-bottom: 35px;
        padding-top: 20px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

  
    .nav-list a {
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      padding-top: 10px;
      line-height: 15px;
    }
  
    .dropdown-content {
      position: absolute;
      width: 43%; /* Dropdowns ocupan todo el ancho en pantallas pequeñas */
      left: 10px;
      padding: 0;
      box-shadow: 0px 0px 20px rgb(255, 255, 255);
    }

  }


/* Pie de Pagina */
@media (max-width: 1200px) {
    .footer {
        padding: 40px;
        margin: 0 10px; /* Elimina el margen horizontal en pantallas pequeñas */
        margin-top: 30px;
    }

    .footer-content {
        flex-direction: column; /* Cambia a diseño de columna para pantallas pequeñas */
        
    }

    .footer-column {
        flex: 1 1 auto; /* Ajusta el ancho automático para adaptarse al contenido */
        padding: 10px;
        text-align: center; /* Alineación al centro para pantallas pequeñas */
    }

    .image-column img {
        width: 25%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }

    .social img {
        width: 30px; /* Ajusta el tamaño de las imágenes de redes sociales para pantallas pequeñas */
    }

    .school-name{
        font-size: 1.4em;
        padding-left: 0px;
        padding-right: 20px;
        text-align: center;
    }

    .logo-container{
        padding-left: 20px;
    }
}

/* Ajustes para resoluciones pequeñas */
@media (max-width: 1200px) {
    .container-dos {
        flex-direction: column;
        align-items: center;
    }

    .column-dos {
        padding: 10px;
        width: 100%; /* Ocupa un 90% del ancho disponible */
        margin-bottom: 5px;
        gap: 20px;
        
    }

    .column-tres{
        padding: 10px;
        width: 100%; /* Ocupa un 90% del ancho disponible */
        z-index: 10;
    }

    .branch-btn {
        margin: 0;
        width: 80%; /* Ajusta el tamaño de los botones */
    }

    .branch h3, .branch p {
        text-align: center; /* Centra el texto en resoluciones pequeñas */
        padding-left: 0;
    }

    .branch p {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1em;
    }

    .branch h3{
        font-size: 1.5em;
    }

    .school-branches h1 {
        font-size: 1.7em; /* Ajusta el tamaño de la fuente del título */
    }

    .branch {
        padding: 0px;
    }

    .buttons-container {
        margin: 0 10px;
        gap: 20px; 
    }

    .information{
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis; /* Corta el texto y agrega puntos suspensivos (...) */
        white-space: nowrap; /* Evita el salto de línea */
    }

    .mostrar{
        text-overflow: none;
        white-space: none;
        flex-direction: column;
    }

}

@media (max-width: 750px) {
    .buttons-container {
        flex-direction: column;
        padding-left: 20%;
        padding-right: 20%;
    }
}