/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

.search {
    background-color: #ddd;
    padding: 20px 0;
}

.search form {
    text-align: center;
}

.search input[type="text"], .search button {
    padding: 10px;
    font-size: 1em;
    border: none;
    margin: 5px;
}

.search button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.resources {
    margin-top: 20px;
}

.resource {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.resource h3 {
    font-size: 1.5em;
    margin: 5px 0;
}

.resource p {
    font-size: 1em;
    margin: 5px 0;
}

.resource a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5px;
}

.resource a:hover {
    background-color: #555;
}

/* Encabezado */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column; /* Cambio a columnas en pantallas pequeñas */
    }

    .nav-list li {
        margin: 5px 0; /* Margen ajustado en pantallas pequeñas */
    }

    .dropdown:hover .dropdown-content {
        display: none; /* Ocultar dropdowns al principio en pantallas pequeñas */
    }

    .dropdown {
        position: relative; /* Ajuste de posición para dropdowns en pantallas pequeñas */
    }

    .dropdown-content {
        position: absolute;
        width: 100%; /* Dropdowns ocupan todo el ancho en pantallas pequeñas */
        left: 0;
    }

    .logo {
        height: 60px; /* Reducir el tamaño del logo para pantallas pequeñas */
        margin-right: 5px; /* Ajustar margen derecho */
    }

    .school-name {
        font-size: 1.2em; /* Reducir el tamaño del título para pantallas pequeñas */
        margin-top: 5px; /* Ajustar margen superior si es necesario */
    }

    .section-qs {
        width: 100%; /* Ocupa el ancho completo */
        margin: 20px 0; /* Ajusta el margen */
        padding: 10px; /* Ajusta el relleno */
    }
}

/* Pie de Pagina */
@media (max-width: 768px) {
    .footer {
        margin: 100px; /* Elimina el margen horizontal en pantallas pequeñas */
    }

    .footer-content {
        flex-direction: column; /* Cambia a diseño de columna para pantallas pequeñas */
    }

    .footer-column {
        flex: 1 1 auto; /* Ajusta el ancho automático para adaptarse al contenido */
        padding: 10px;
        text-align: center; /* Alineación al centro para pantallas pequeñas */
    }

    .image-column img {
        width: 50%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }

    .social img {
        width: 30px; /* Ajusta el tamaño de las imágenes de redes sociales para pantallas pequeñas */
    }
}