@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos generales */
body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #ed1919;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 17px;
  padding: 7px;
  z-index: 1000;
}

.nav-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-right ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.nav-right ul li a:hover {
  background-color: #ffffff;
  color: #ed1919;
  border-radius: 5px;
}

/* Botón de menú hamburguesa */
.menu-toggle {
  margin-left: 10px;
  font-size: 25px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  padding-right: 20px;
}

/* Diseño responsive para pantallas pequeñas */
@media (max-width: 750px) {
  .nav-right ul {
      flex-direction: column;
      width: 100%;
      display: none; /* Oculto por defecto */
  }

  .nav-right ul li {
      margin: 5px 10px;
      text-align: left;
      font-size: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-right: 30px;
      padding-right: 0px;
      padding-left: 0;
      width: 100%;
  }

  .nav-right ul li a{
    padding: 5px;
  }

  .menu-toggle {
      display: block; /* Mostrar el botón en pantallas pequeñas */
  }

  /* Mostrar el menú cuando está activo */
  .nav-right.active ul {
      display: flex;
  }
}


.section-1{
    padding:40px;
    background-image: url("https://ak0.picdn.net/shutterstock/videos/20344780/thumb/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:550px;
    background-size: 100% 100%;
    margin-top: 45px; /* Asegura que el contenido no quede detrás de la navbar */
}

.section-1-text{
    display: block;
    border: black;
}

h1{
    font-size: 70px;
    color: white;
    margin-top: 100px;
}

h2{
  font-size: 2em;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

h2 .section-5{
  color: #fff;
}

.section-1 p{
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.section-2 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.image-holder img {
  width: 250px;
  height: 300px;
  object-fit: contain;
}

.image-holder:hover {
  transform: scale(1.05);
  border-color: #000;
}

form{
  text-align: left;
}

li {
    display: inline;
    float: left;
    padding-left: 20px;
  }

  li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color:white;
  }

  li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #ed1919;
  }

  .active {
    background-color: #ed1919;
  }

/* section-3 image gallery 2 */

  .section-3{
      padding:35px;
  }

  
  .view-card {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    display: inline;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
    align-items: center;
  }

/* section-4 brands */
.section-4 {
  padding: 35px;
  text-align: center;
}

.brand-container {
  text-align: center; /* Alinea el contenido del contenedor */
}

.brand {
  display: inline-block; /* Coloca las marcas en fila horizontal */
  margin: 0 15px; /* Espaciado entre las imágenes */
  text-align: center;
}

.brand img {
  max-width: 150px; /* Tamaño fijo de las imágenes */
  height: auto;
}

/* section-5 contact us */
.section-5 {
  background-color: #565a5e;
  padding: 20px;
}

/* Estilos generales para los inputs y el formulario */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #ed1919;
  color: #fff;
  border: 2px solid;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

input[type=submit]:hover {
  background-color: #b30000;
  color: #fff;
  border: 2px solid;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

label{
  color: #fff;
}


/* Estilos de las columnas */
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

/* Columna izquierda: Imagen y botón */
.left {
  text-align: center;
}

.contact-image {
  max-width: 80%;
  height: auto;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #ed1919;
  color: #fff;
  border: 2px solid ;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.btn:hover {
  background-color: #b30000;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

/* Diseño responsive */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .column {
      width: 100%;
      padding: 10px;
  }

  .btn {
      margin-bottom: 20px;
  }
}


  /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .brand {
      margin: 10px 5px; /* Reduce el espaciado entre las marcas */
  }

  .brand img {
      max-width: 120px; /* Reduce el tamaño de las imágenes en pantallas medianas */
  }
}

/* Media query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .brand {
      display: block; /* Las marcas se mostrarán en columnas */
      margin: 10px auto; /* Centra las marcas verticalmente */
  }

  .brand img {
      max-width: 100px; /* Ajusta el tamaño de las imágenes para móviles */
  }
}
 

/* Diseño responsivo */
@media (max-width: 1200px) {
  .section-1 {
      height: auto;
      padding: 30px;
  }

  h1 {
      font-size: 60px;
  }

  .section-1 p {
      font-size: 18px;
  }

  .btn {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .section-1 {
      height: auto;
      background-size: cover;
      padding: 20px;
  }

  h1 {
      font-size: 40px;
      margin-top: 50px;
  }

  .section-1 p {
      font-size: 16px;
  }

  .btn {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .section-1 {
      padding: 5px;
      background-attachment: scroll;
      height: auto;
  }

  h1 {
      font-size: 30px;
      margin-top: 30px;
      padding: 5px;
  }

  .section-1 p {
      font-size: 14px;
  }

  .btn {
      font-size: 14px;
      padding: 10px 20px;
  }

  .nav-right ul li a:hover {
    border: 1px solid #ccc;
    margin-bottom: 7px;
  }
}
